.button {
    padding:5px 12px;
    color:white;
    border-radius:5px;
    box-shadow: 2px 3px 3px grey;
}
.button:hover {
    box-shadow: 5px 6px 3px grey;
    padding:6px 13px;
}
.success {
    background: green;
    border:none;
}
.fail {
    background: red;
    border:none;
}
.plain {
    background: dodgerblue;
    border:none;
}
table {
    border:1px solid silver;
    border-collapse: collapse;
    width:100%;
}
thead {
    border-bottom: 1px solid #d0d0d0;
    text-align: left;
}
td {
    height:50px;
    padding-left: 10px;
}
.td_name {
    width:125px;
}
.green {
    color:red;
}
.red {
    color:red;
}
.formGroup{
    clear: both;
    margin:5px 0px;
}
.formGroup>input{
    border:1px solid silver;
    float:right;
    width:50%;
}
.right{
    float:right;
}
.left{
    float:left;
}
.underBorder {
    border-bottom:1px solid silver;
    padding-bottom: 30px;
}
textarea {
    width:99%;
    border:1px solid silver;
}
.container{
    width:95%;
    margin:0 auto;
}
.row {
    clear: both;
    margin-top:10px;
}
.One {
    width:7.5%;
    margin:0 1%;
    display:inline-block;
    vertical-align:top ;
}
.Two {
    width:17.5%;
    margin:0 1%;
    display:inline-block;
    vertical-align:top ;
}
.Three {
    width:27.5%;
    margin:0 1%;
    display:inline-block;
    vertical-align:top ;
}
.Four {
    width:37.5%;
    margin:0 1%;
    display:inline-block;
    vertical-align:top ;
}
.Five {
    width:47.5%;
    margin:0 1%;
    display:inline-block;
    vertical-align:top ;
}
.Six {
    width:57.5%;
    margin:0 1%;
    display:inline-block;
    vertical-align:top ;
}
.Seven {
    width:67.5%;
    margin:0 1%;
    display:inline-block;
    vertical-align:top ;
}
.Eight {
    width:77.5%;
    margin:0 1%;
    display:inline-block;
    vertical-align:top ;
}
.Nine {
    width:87.5%;
    margin:0 1%;
    display:inline-block;
    vertical-align:top ;
}
.Ten {
    width:100%;
}
.offsetHalf{
    margin-left:4%;
}
.offsetOne{
    margin-left:8%;
}
.offsetTwo{
    margin-left:18%;
}
.offsetThree{
    margin-left:28%;
}
.offsetFour{
    margin-left:38%;
}
.offsetFive{
    margin-left:48%;
}
.offsetSix{
    margin-left:58%;
}
.offsetSeven{
    margin-left:68%;
}
.offsetEight{
    margin-left:78%;
}
.offsetNine{
    margin-left:88%;
}


.checkBox {
    padding:3px 5px;
    background: none;
    border:1px solid black;
}