<div class="row underBorder">
    <div class="Six">
        <h3>Hello <span ng-bind="user.first_name"></span>!</h3>
    </div>
    <div class="Four">
        <a ng-click="logOut()" class="button fail right">Log Out</a>
    </div>
</div>
<div class="row">
    <a href="#/question" class="button plain">Add a Question</a>
    <div class="Three right">Search Questions: <input type="text" ng-model="filter_question"></div>
</div>
<div class="row">
    <table class="Nine offsetOne">
        <thead>
        <tr>
            <th>Question</th>
            <th>Answers</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="q in questions | filter: filter_question">
            <td ng-bind="q.question"></td>
            <td ng-bind="q.answers.length"></td>
            <td><a href="#/quest/{{q._id}}" >Show</a> | <a href="#/answer/{{q._id}}" >Answer</a></td>
        </tr>
        </tbody>
    </table>
</div>